<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/boardSub.css">
  <title>루낚게</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="/static/image/icon.png" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/footer.css">

</head>

<body style="background-color: #EBEDF3;">
  <!-- 네비바 인클루드 입니다. -->
  <%-include("nav.ejs")%>
  <div class="article">
    <div class="articleTop">
      <a class="back" href="/boardLure">
        〈 목록으로 </a>
    </div>
    <br>
    <div class="item">
      <div class="info">
        <div class="infoTitle">
          테스트페이지
        </div>
        <div class="etc">
          <div class="writer">
            <img style="width: 20px; height: 20px;" src="/static/image/board/lev6.png" alt="">
            관리자 admin 22. 08. 16
          </div>
          <button type="button" class="report btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#reportModal">
            신고
          </button>
        </div>
      </div>
      <div class="content">
        루어 낚시는 지렁이 등 날 미끼가 아닌 인조 미끼를 사용하는 낚시를 말한다. 릴 낚시로 루어를 멀리 던진 후 릴을 감으면서 루어를 헤엄치듯 움직여 고기를 유인한다. 스푼 루어, 곤충·피라미 등의 이미테이션 루어가 있지만 스피닝이 보편적이다.
      </div>
      <div class="listAndEdit">
        <div class="list">
          <button type="button" class="btn btn-light" onclick="location.href='/boardLure'">목록</button>
        </div>
        <div class="edit">
          <button id="shareBtn" type="button" class="btn btn-light">공유</button>
          <button id="recommend" type="button" class="btn btn-light">추천</button>
        </div>
      </div>
      <div class="commentsTitle">
        <span>댓글 </span>
        <span class="commentCnt">0</span>
        <span>개</span>
      </div>
      <div class="commentBox" style="margin-left: 10px; width: 100%;">
        <div class="commentBox" style="margin-left: 10px; width: 100%;">
        </div>
      </div>
      <div class="newComment">
        <div class="nameAndPassword">
          <textarea class="form-control nickName" placeholder="닉네임" style="width: 49%; height: 40px"></textarea>
          <input class="form-control password" type="password" placeholder="비밀번호" style="width: 49%; height: 40px"></textarea>
        </div>
        <div class="comment">
          <textarea class="form-control text" placeholder="댓글을 작성해주세요." style="width: 100%; height: 100px"></textarea>
          <div class="commentBtn" style="margin-top: 5px;">
            <button type="button" class="btn btn-secondary submitBtn" onclick='submit(); return false;'>작성</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <section class="boardList">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=1; i<5; i++) { %>
          <tr onclick="location.href='/boardInner'" style="cursor: pointer;">
            <td>
              <%=i%>
            </td>
            <td>
              테스트<%=i%>
            </td>
            <td>
              <img style="width: 20px; height: 20px;" src="/static/image/board/lev6.png" alt="">
              관리자
            </td>
            <td>08. 16</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </section>
  </div>
  <br>



  <!-- 공유 버튼 모달이 -->
  <div id="shareModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">공유하기</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="icon">
            <button type="button" id="shareKt" class="btn_comm"><a href="https://accounts.kakao.com/login?continue=https%3A%2F%2Fcs.kakao.com%2Fhelps%3Fservice%3D8%26locale%3Dko%26category%3D25"><img src="/static/image/board/kakaotalk.png" alt=""></a></button>
            <button type="button" id="shareIn" class="btn_comm"><a href="https://www.instagram.com/sem/campaign/emailsignup/?campaign_id=13530338586&extra_1=s|c|547419126431|e|instagram%20%27|&placement=&creative=547419126431&keyword=instagram%20%27&partner_id=googlesem&extra_2=campaignid%3D13530338586%26adgroupid%3D126262418054%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-1321618851291%26loc_physical_ms%3D1009871%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQjwxveXBhDDARIsAI0Q0x3PkIVS5oY1RhAlaS-tupWDzim9LfqQccJcTIEAe8gm03TAYACifrsaAsdUEALw_wcB"><img src="/static/image/board/instagram.png" alt=""></a></button>
            <button type="button" id="shareFb" class="btn_comm"><a href="https://www.facebook.com/"><img src="/static/image/board/facebook.png" alt=""></a></button>
            <button type="button" id="shareTw" class="btn_comm"><a href="https://twitter.com/i/flow/login"><img src="/static/image/board/twitter.png" alt=""></a></button>
            <button type="button" id="shareKs" class="btn_comm"><a href="https://accounts.kakao.com/login?continue=https://story.kakao.com/"><img src="/static/image/board/kakaostory.png" alt=""></a></button>
            <button type="button" id="shareBn" class="btn_comm"><a href="https://band.us/ko"><img src="/static/image/board/band.png" alt=""></a></button>
            <button type="button" id="shareNb" class="btn_comm"><a href="https://section.blog.naver.com/BlogHome.naver?directoryNo=0&currentPage=1&groupId=0"><img src="/static/image/board/naverblog.png" alt=""></a></button>
            <button type="button" id="shareTi" class="btn_comm"><a href="https://www.tistory.com/"><img src="/static/image/board/tistory.png" alt=""></a></button>
          </div>
          <div class="urlCopy">
            <input style="width: 400px;" class="form-control-sm urlAddr" type="text" value="http://localhost:8080/boardInner" aria-label="Disabled input example" disabled readonly>
            <button type="button" class="btn btn-secondary copyBtn">복사</button>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!--신고버튼 모달이 -->
  <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">신고하기</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="display: flex; flex-direction: column;">
          <div>항목</div>
          <select class="form-select" name="" id="">
            <option value="">부적절한 발언</option>
            <option value="">선정적인 매체 포함</option>
            <option value="">폭력적인 매체 포함</option>
            <option value="">기타</option>
          </select>
          <div>신고내용</div>
          <textarea class="form-control" placeholder="내용을 입력해주세요." style="height: 100%;" name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">종료</button>
          <button type="button" id="reportBtn" data-bs-dismiss="modal" class="btn btn-danger">신고하기</button>
        </div>
      </div>
    </div>
  </div>

  <!-- footer 호출 -->
  <%-include("footer.ejs")%>

  <!-- 위로 스크롤 -->
  <div>
    <a href="#" title="Back to Top" style="display:scroll; position:fixed; bottom:0px; right:10px;" onfocus='this.blur()'>
      <img class="upImg" src="/static/image/board/up.png">
    </a>
  </div>

  <!-- 자바스크립트 -->
  <script>
    var commentCnt = 0;

    // 댓글 작성 기능
    function submit() {

      // input 태그 내 이름, 비밀번호, 댓글 내용 가져오기
      const name_value = document.getElementsByClassName("nickName")[0].value;
      const text_value = document.getElementsByClassName("text")[0].value;
      const password = document.getElementsByClassName("password")[0].value;

      // 입력값 유효성 체크
      if (name_value == "") {
        alert("닉네임을 입력해주세요.");
        return 0;
      } else if (text_value == "") {
        alert("내용을 입력해주세요.");
        return 0;
      } else if (password == "") {
        alert("비밀번호를 입력해주세요,");
        return 0;
      }

      // 댓글 수 카운트 증가
      commentCnt += 1;
      document.getElementsByClassName("commentCnt")[0].innerText = commentCnt;

      // 현재시간 생성
      var today = new Date();
      var now = today.toLocaleString();

      // 등급 뱃지 생성
      var ranLev = Math.floor(Math.random() * 4) + 1;
      const badgeImg = new Image(20, 20);
      badgeImg.src = `/static/image/board/lev${ranLev}.png`

      // 빈 댓글 폼 생성
      const nameTitle = document.createElement("div");
      const box = document.getElementsByClassName("commentBox")[0];
      const comment = document.createElement("div");
      const userName = document.createElement("span");
      const text = document.createElement("span");
      const date = document.createElement("span");
      const removeBtn = document.createElement("button");

      // 그리드 스타일 추가
      comment.className += 'row';
      nameTitle.className += 'col-11 col-lg-2 name';
      text.className += 'col-12 col-lg-6';
      date.className += 'col-5 col-lg-3 date';
      removeBtn.className += 'col-1 removeBtn'

      // input 폼 초기화
      document.getElementsByClassName("nickName")[0].value = "";
      document.getElementsByClassName("text")[0].value = "";
      document.getElementsByClassName("password")[0].value = "";

      // 가져온 input 값 빈 댓글 폼에 집어넣기
      userName.innerText = name_value;
      text.innerText = text_value;
      date.innerText = now;

      // 등급뱃지 + 이름 합치기
      nameTitle.appendChild(badgeImg);
      nameTitle.appendChild(userName);

      // 댓글 폼 합치기
      comment.appendChild(nameTitle);
      comment.appendChild(text);
      comment.appendChild(date);
      comment.appendChild(removeBtn);

      // 합친 댓글 폼 실제 댓글창에 추가
      box.appendChild(comment);
    }


    // 댓글 삭제 기능
    $(document).ready(function() {
      $('.commentBox').on('click', '.removeBtn', function() {
        $(this).parent().remove();
        commentCnt -= 1;
        document.getElementsByClassName("commentCnt")[0].innerText = commentCnt;
      })
    });

    // 모달 호출
    $('#shareBtn').click(function() {
      $('#shareModal').modal('show')
    });

    // 공유 url 카피 함수
    $('.copyBtn').click(function() {
      const copyText = $(".urlAddr").val();
      const textArea = document.createElement("textarea");
      document.body.appendChild(textArea);

      textArea.innerText = copyText;

      textArea.select();
      document.execCommand('copy');
      document.body.removeChild(textArea);

      alert("Copied!");
    });

    // 추천 버튼 함수
    $('#recommend').click(function() {
      alert("로그인이 필요합니다.")
    });

    // 신고 버튼 함수
    $('#reportBtn').click(function() {
      alert("고객님의 신고가 접수되었습니다.");
    });

    // modal 입력폼 초기화
    $('.modal').on('hidden.bs.modal', function(e) {
      $('textarea').val('');
    });

    // 페이지 맨위로 올라가기
    $(".upImg").click(function(e) {
      e.preventDefault();

      $('html,body').animate({
        scrollTop: 0
      }, 10);

      $(".upImg").animate({
        'margin-bottom': '20px'
      }, 400);
      $(".upImg").animate({
        'margin-bottom': '0px'
      }, 400);
    });
  </script>
</body>

</html>