<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/boardSub.css">
  <title>루낚게</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="/static/image/icon.png" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/footer.css">

</head>

<body style="background-color: #EBEDF3;">
  <!-- 네비바 인클루드 입니다. -->
  <%-include("nav.ejs")%>
  <div class="article">
    <br>
    <h1><input class="articleTitle" type="text" placeholder="제목을 입력해주세요"></h1>
    <br>
    <section class="boardList">
      <span class="badge text-bg-light">카테고리</span>
      루어낚시게시판
    </section>
    <br>
    <section class="boardList writeForm">
      <textarea type="text" placeholder="내용을 입력해주세요."></textarea>
    </section>

    <div class="writeBtn" style="margin-top: 5px;">
      <button type="button" class="btn btn-secondary submitBtn">작성</button>
      <button type="button" class="btn btn-danger"><a class="cancel" href="/boardLure">
          취소 </a></button>
    </div>

  </div>
  <br>
  <%-include("footer.ejs")%>
</body>

</html>