<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/board.css">
  <link href="/static/image/icon.png" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/footer.css">
  <title>자유게시판</title>
</head>

<body style="background-color: #EBEDF3;">
  <!-- 네비바 인클루드 입니다. -->

  <div class="main">
    <div class="container">
      <div class="indexBoard">
        <div class="indexBoardTitle">
          <h3><a href="">전체게시글</a></h3>
          <div class="more"><a href="#">더보기</a></div>
        </div>
      </div>
      <div class="indexBoard">
        <div class="indexBoardTitle">
          <h3><a href="">원투낚시</a></h3>
          <div class="more"><a href="#">더보기</a></div>
        </div>
      </div>
      <div class="indexBoard">
        <div class="indexBoardTitle">
          <h3><a href="">찌낚시</a></h3>
          <div class="more"><a href="#">더보기</a></div>
        </div>
      </div>
      <div class="indexBoard">
        <div class="indexBoardTitle">
          <h3><a href="/boardLure">루어낚시</a></h3>
          <div class="more"><a href="/boardLure">더보기</a></div>
        </div>
      </div>
      <div class="indexBoard">
        <div class="indexBoardTitle">
          <h3><a href="">선상낚시</a></h3>
          <div class="more"><a href="#">더보기</a></div>
        </div>
      </div>
    </div>
  </div>


  </div>
  <%-include("footer.ejs")%>
</body>

</html>