<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="file:///Users/choejunhyeon/Desktop/download/icon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
    <!-- 네비바 인클루드 입니다. -->
    <%-include("nav.ejs")%>
</body>
</html>