<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>낚당!</title>
    <!-- 타이틀 옆 아이콘 입니다! -->
    <link href="/static/image/icon.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
  <div class="body-wrap">


  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" id="w" onclick="change(this)" href="#main"><img class="logoimg" src="/static/image/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="nav-content" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"   href="#one" onclick="change(this)">VISON</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#two" onclick="change(this)">FISH</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#three" onclick="change(this)">SHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#four" onclick="change(this)">MEDIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/loginForm">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/joinForm">JOIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  


  <div class="div1" id="main">
    <div class="div2">
    <p class="logoFont"><b>낚당!</b></p>
      당신의 낚시 파트너
  </div>
   </div>
    
  <div class="part1" id="one">
    <div>
      <h1>Vison</h1>
    </div>
      <ul class="vison">
        <list>
          빠른 정보 
        </list>
        <list>
          월별 낚시 어종 리스트
        </list>
        <list>
          자사 운영 쇼핑몰
        </list>
        <list>
         커뮤니티
        </list>
      </ul>

  </div>


  <!-- 월별 낚시 정보로 이동 -->
  <div class="part2" id="two">
    <div class="box2">
      <div class="box3">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rA04czNV7GI?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <button type="button" class="btn btn-outline-dark" onclick="location.href='/fishinfo'">월별 낚시 정보 바로가기</button>
      </div>
    </div>
  </div>


  <!-- 쇼핑몰 페이지 이동 -->
  <div class="part3" id="three"> 
    <div class="shop">
      <img src="/static/image/shop1.png" onclick="location.href='/fishinfo'">
      <img src="/static/image/shop2.png" onclick="location.href='/fishinfo'">
      <img src="/static/image/shop3.png" onclick="location.href='/fishinfo'">
    </div>
  </div>


  <!-- MEDIA페이지 이동 -->
  <div class="part4" id="four">

    <div class="news" onclick="location.href='/fishinfo'">MEDIA</div>
    <div class="videos">
      <div class="media">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/yZ_QYbfHKGg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="tag"><b>원투낚시 기초 강좌!</b><p>원투낚시 기초강좌를 시청하세요!</p></div>
      </div>
      <div class="media">
        <a href="https://www.youtube.com/c/%EC%9E%85%EC%A7%88%EC%9D%98%EC%B6%94%EC%96%B5TV" target="_blank"><img style="width:100%; height: 100%;" src="/static/image/you.png"></a>
        <div class="tag"><b>입질의 추억 유튜브!</b><p>수 많은 수산물 정보를 위해 클릭!</p></div>
      </div>
      <div class="media">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/GNK3ABNtmxA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="tag"><b>휴가철 바가지 주의!</b><p>휴가철 수 많은 바가지 걱정 노! 바가지에 주의하세요!</p></div>
      </div>
    </div>
  </div>
  
  

  </div>
  <%-include("footer.ejs")%>

<script>
  // 클릭시 div 이동하는 함수 입니다.
  function change(obj){ 
    if(obj.id=="w"){
      $("nav").removeClass("change")
      $(".logoimg").attr("src","/static/image/logo.png");
      }
      else{
        $("nav").addClass("change")
        $(".logoimg").attr("src","/static/image/logo1.png");
          }
    }


   



</script>