<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <title>낚당!</title>
    <link href="/static/image/icon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
    <script defer src="/static/js/media.js"></script>
    <%-include("nav.ejs")%>
    <section class="banner">
        <div class="banner-info">
            <h1>"I go fishing not to find myself but to lose myself" - Joseph Monniger</h1>
            <p>나는 나를 찾기위해 낚시를 가는 것이 아니라 나를 잊기위해 낚시를 간다 - 조셉 몬니거</p>
        </div>
    </section>
    <!-- 원투낚시 -->
    <section class="slider">
        <div class="container">
            <div class="subcontainer">
                <div class="slider-wrapper">
                    <div class="controller">
                        <div>
                            <h2>원투 낚시</h2>
                        </div>
                        <div class="controls-1">
                            <button class="previous-1"><i class="fa-solid fa-angle-left"></i></button>
                            <button class="next-1"><i class="fa-solid fa-angle-right"></i></button>
                        </div>
                    </div>
                    <br>
                    <div class="my-slider-1">
                        <div>
                            <div class="slide">
                                <div class="slide-img img-1">
                                    <a href="https://www.youtube.com/watch?v=J73G6TulOwY" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>우중낚시🎣 비 안온다면서 폭우가..?(거제 원투낚시)</h3>
                                    <p>2022. 8. 16.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-2">
                                    <a href="https://www.youtube.com/watch?v=AnRNgGdbIe4&t=1s" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>바다낚시 원투낚시 기초 시작부터 채비까지 #1 원투대 준비부터 채비까지</h3>
                                    <p>2021. 5. 7.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-3">
                                    <a href="https://www.youtube.com/watch?v=m3Q-nxS9hr8&t=1s" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>낚시인이라면 꼭 봐야할 원투낚시 수중입질영상-FOX☆TV</h3>
                                    <p>2021. 4. 4.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-4">
                                    <a href="https://www.youtube.com/watch?v=9d_gpcsB8MQ&t=30s" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>[바다낚시 강의 ep.16] 낚시가게 사장님이 알려주는 원투낚시 총정리편 | 특징부터 낚시대 추천까지!</h3>
                                    <p>2022. 1. 23.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-5">
                                    <a href="https://www.youtube.com/watch?v=8S4Lni_1bKk&t=2s" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>원투낚시! 요즘같은 시기에 잡을곳은 이포인트밖에 없다!!</h3>
                                    <p>2022. 8. 10.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 찌 낚시 -->
    <section class="slider">
        <div class="container">
            <div class="subcontainer">
                <div class="slider-wrapper">
                    <div class="controller">
                        <div>
                            <h2>찌 낚시</h2>
                        </div>
                        <div class="controls-2">
                            <button class="previous-2"><i class="fa-solid fa-angle-left"></i></button>
                            <button class="next-2"><i class="fa-solid fa-angle-right"></i></button>
                        </div>
                    </div>
                    <br>
                    <div class="my-slider-2">
                        <div>
                            <div class="slide">
                                <div class="slide-img img-6">
                                    <a href="https://www.youtube.com/watch?v=d6PK8f5jpaI" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>만능낚시!! 릴찌낚시를 배우자!!</h3>
                                    <p>2020. 1. 18.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-7">
                                    <a href="https://www.youtube.com/watch?v=fuw_ev1VDss" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>바다찌낚시 입문자들을 위한 영상입니다 ... 반유동채비로 감성돔을 낚아보자!</h3>
                                    <p>2021. 11. 29.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-8">
                                    <a href="https://www.youtube.com/watch?v=bjwWsdYcsP8" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>[다리tv] 쉽게 배우는 바다낚시!!! ☆ 반유동채비 ☆
                                    </h3>
                                    <p>2020. 3. 20.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-9">
                                    <a href="https://www.youtube.com/watch?v=9d_gpcsB8MQ&t=30s" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>[바다낚시 강의 ep.16] 낚시가게 사장님이 알려주는 원투낚시 총정리편 | 특징부터 낚시대 추천까지!</h3>
                                    <p>2022. 1. 23.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-10">
                                    <a href="https://www.youtube.com/watch?v=TGagjB5-f8w" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>찌낚시 채비법과 수심체크를 한번에 다 배우세요!</h3>
                                    <p>2020. 10. 26.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 루어 낚시 -->
    <section class="slider">
        <div class="container">
            <div class="subcontainer">
                <div class="slider-wrapper">
                    <div class="controller">
                        <div>
                            <h2>루어 낚시</h2>
                        </div>
                        <div class="controls-3">
                            <button class="previous-3"><i class="fa-solid fa-angle-left"></i></button>
                            <button class="next-3"><i class="fa-solid fa-angle-right"></i></button>
                        </div>
                    </div>
                    <br>
                    <div class="my-slider-3">
                        <div>
                            <div class="slide">
                                <div class="slide-img img-11">
                                    <a href="https://www.youtube.com/watch?v=JeB35ruYOWE" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>삼치 루어낚시 이렇게 해보세요! 석축 꿀팁! 뼈다귀삼촌</h3>
                                    <p>2022. 8. 16.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-12">
                                    <a href="https://www.youtube.com/watch?v=H-lUG66wcFI" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>메탈지그만 있으면 입문자 초보자도 손맛 보는 삼치 고등어 루어 낚시</h3>
                                    <p>2022. 8. 13.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-13">
                                    <a href="https://www.youtube.com/watch?v=Q0qbDN64b_Y" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>루어낚시 입문 가이드 [싸이코배스]
                                    </h3>
                                    <p>2016. 5. 6.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-14">
                                    <a href="https://www.youtube.com/watch?v=W9VoETHNFLE" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>[럭맨의 쉬운 루어낚시] 2편. 무조건 잡을 수 있는 루어낚시 1.75g의 비밀</h3>
                                    <p>2021. 2. 3.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-15">
                                    <a href="https://www.youtube.com/watch?v=M51TXFoRnHE" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>루어낚시 입문. 이 영상보시면 루어낚시 고수가 됩니다. 100% 잡습니다. 꽝치면 책임집니다ㅋㅋㅋㅋㅋㅋ</h3>
                                    <p>2020. 12. 20.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 선상 낚시 -->
    <section class="slider">
        <div class="container">
            <div class="subcontainer">
                <div class="slider-wrapper">
                    <div class="controller">
                        <div>
                            <h2>선상 낚시</h2>
                        </div>
                        <div class="controls-4">
                            <button class="previous-4"><i class="fa-solid fa-angle-left"></i></button>
                            <button class="next-4"><i class="fa-solid fa-angle-right"></i></button>
                        </div>
                    </div>
                    <br>
                    <div class="my-slider-4">
                        <div>
                            <div class="slide">
                                <div class="slide-img img-16">
                                    <a href="https://www.youtube.com/watch?v=Td8tvy9hVDI" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>선상낚시 초보 가 꼭 필요한 준비물!! sea ​​fishing gear</h3>
                                    <p>2022. 5. 19.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-17">
                                    <a href="https://www.youtube.com/watch?v=XkS8llTfDfk" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>'선상낚시 초보'를 위한 초보 티 벗는 방법</h3>
                                    <p>2022. 5. 31.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-18">
                                    <a href="https://www.youtube.com/watch?v=bwGe6Mua91Q" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>선상낚시 민폐탈출 초보탈출 욕안먹기
                                    </h3>
                                    <p>2019. 8. 12.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-19">
                                    <a href="https://www.youtube.com/watch?v=8HwYaEe2EQM" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>선상낚시 초보기초이론1</h3>
                                    <p>2021. 7. 4.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-20">
                                    <a href="https://www.youtube.com/watch?v=9YWdCVScxto" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h3>선상낚시 이제 힘들게 하지마세요!</h3>
                                    <p>2022. 4. 13.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <%-include("footer.ejs")%>
</body>
</html>