<nav>
  <div class="upper-nav">
    <a href="/"><img id="logo" src="/static/image/logo.png" alt="" /></a>
    <a href="/shop"><p id="title">낚당몰.</p></a>
    <div class="icons">
      <img src="/static/image/shoppingBag.png" alt="" />
    </div>
  </div>
  <div class="categories">
    <a href="/shop/fishingrod">낚시대</a>
    <a href="/shop/bait">미끼</a>
    <a href="/shop/equipment">공동장비</a>
  </div>
</nav>
