<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NAKDANG.COM</title>
    <link rel="stylesheet" href="/static/css/shop.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: white;
        height: 6030px;
      }
    </style>
  </head>
  <body>
    <nav id="main">
      <div class="upper-nav">
        <a href="/shop" style="text-decoration: none"
          ><p id="title">NAKDANG.COM</p></a
        >
        <div id="show_bar">
          <div class="dropdown">
            <button
              class="ropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="border: none; background-color: transparent"
            >
              <img src="/static/image/me.png" alt="" />
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/shop/myhome">MY홈</a></li>
              <li><a class="dropdown-item" href="#">배송조회</a></li>
              <li><a class="dropdown-item" href="#">고객센터</a></li>
            </ul>
          </div>

          <a href="/shop/basket"
            ><img src="/static/image/shoppingCart.png" alt=""
          /></a>
          <div class="basketCount"></div>
        </div>
      </div>
      <div class="categories">
        <div class="categoriesInfo">
          <a href="/">낚당홈</a>
          <a href="/loginForm">로그인</a>
        </div>
        <div class="categoriesShow">
          <a href="/shop/fishingrod">낚시대</a>
          <a href="/shop/bait">미끼</a>
          <a href="/shop/equipment">공동장비</a>
        </div>
        <div class="categoriesInfo"></div>
      </div>
    </nav>
    <div class="greetings for_event">
      <p>NAKDANG.COM</p>
      <p><span>Renewal</span></p>
    </div>
    <div class="test">
      <span> 저렴하게. 색다르게. </span> <br />
      <span>강력하게.</span>
    </div>
    <div id="ex" class="no_show">
      <div id="ex1">
        <img id="manu" src="/static/image/manufacturing.jpg" alt="" />
        <p>자사가 직접 의뢰한 브랜드 제품 판매.</p>
        <span class="dontshow">이벤트에 대해 알아보려면 스크롤</span>
      </div>
    </div>
    <div class="event no_show">8월 이벤트</div>
    <div class="event_content row">
      <div class="col-12 col-md-6 col-lg-4 evnt">
        <div class="ele" id="event1">
          <img src="/static/image/plus1.PNG" alt="" class="btn" />
          <img src="/static/image/point.png" alt="" />
          <p>신규 가입자 1만 포인트 증정!</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 evnt">
        <div class="ele" id="event2">
          <img class="btn" src="/static/image/plus2.PNG" alt="" />
          <img src="/static/image/ship.png" alt="" />
          <p>응모하고 태평양 선상낚시 가자!</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 evnt">
        <div class="ele" id="event3">
          <img class="btn" src="/static/image/plus3.PNG" alt="" />
          <img src="/static/image/sale.png" alt="" />
          <p>미끼류 최대 40% 할인 중!</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 evnt">
        <div class="ele" id="event4">
          <img class="btn" src="/static/image/plus4.PNG" alt="" />
          <img src="/static/image/recruit.png" alt="" />
          <p>낚당몰. S/W 개발자 채용 중!</p>
        </div>
      </div>
    </div>

    <img class="image" src="/static/image/shopBackground.jpeg" alt="" />

    <script>
      history.scrollRestoration = "manual";
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script>
      handleBasketCount();
      document.querySelector(".test").style.opacity = "0";
      location.reload = (event) => {
        window.scollY = "0";
      };
      var body = document.body,
        html = document.documentElement;
      console.log(window.innerHeight);
      var height = Math.max(
        body.scrollHeight,
        body.offsetHeight,
        html.clientHeight,
        html.scrollHeight,
        html.offsetHeight
      );
      window.addEventListener("scroll", (event) => {
        const scrollY = window.scrollY;
        console.log(scrollY);
        if (scrollY < 500) {
          const target = document.querySelector(".greetings");
          const img = document.querySelector(".image");
          const font = document.querySelector(".test");
          if (target.style.display == "none") {
            target.style.display = "block";
          }
          target.style.opacity = 1 - scrollY / 500;
          img.style.opacity = 1 - scrollY / 500;
          font.style.opacity = scrollY / 500;
        }
        if (scrollY > 500) {
          const img = document.querySelector(".image");
          const target = document.querySelector(".greetings");
          if (target.style.display != "none") {
            target.classList.remove("for_event");
            target.style.display = "none";
            if (img.style.opacity != "0") {
              img.style.opacity = "0";
            }
          }
        }
        if (scrollY >= 500 && scrollY < 600) {
          const font = document.querySelector(".test");
          if (font.style.opacity != "1") {
            font.style.opacity = "1";
          }
          if (font.style.top != "300px") {
            font.style.top = "300px";
          }
        }
        if (scrollY >= 600 && scrollY < 1200) {
          const font = document.querySelector(".test");
          font.style.top = String(300 - (150 * (scrollY - 600)) / 600) + "px";
        }
        if (scrollY < 1200) {
          const ex = document.querySelector("#ex");
          if (!ex.classList.contains("no_show")) {
            ex.classList.add("no_show");
          }
        }
        if (scrollY >= 1200 && scrollY < 2100) {
          const ex = document.querySelector("#ex");
          if (ex.classList.contains("no_show")) {
            ex.classList.remove("no_show");
          }
        }
        if (scrollY >= 1200 && scrollY < 1800) {
          const text = document.querySelector("#ex1 p");
          if (text.innerText != "자사가 직접 의뢰한 브랜드 제품 판매.") {
            text.innerText = "자사가 직접 의뢰한 브랜드 제품 판매.";
          }
          text.style.opacity = (1600 - scrollY) / 300;
        }
        if (scrollY >= 1800 && scrollY < 2100) {
          const text = document.querySelector("#ex1 p");
          if (text.innerText != "국내 택배사와 연계한 초고속 배송.") {
            text.innerText = "국내 택배사와 연계한 초고속 배송.";
          }
          text.style.opacity = 1 - (2100 - scrollY) / 300;
        }

        if (scrollY >= 1500 && scrollY < 2100) {
          const manu = document.querySelector("#manu");
          manu.style.opacity = (2100 - scrollY) / 600;
          if (scrollY >= 2100 && scrollY < 2300) {
            const manu = document.querySelector("#manu");
            manu.style.opacity = 0;
          }
        }
        if (scrollY <= 2300) {
          const manu = document.querySelector("#manu");
          if (manu.getAttribute("src") != "/static/image/manufacturing.jpg") {
            manu.setAttribute("src", "/static/image/manufacturing.jpg");
          }
        }
        if (scrollY >= 2300 && scrollY < 2900) {
          const manu = document.querySelector("#manu");
          if (manu.getAttribute("src") != "/static/image/refund.jpg") {
            manu.setAttribute("src", "/static/image/refund.jpg");
          }
          manu.style.opacity = 1 - (2900 - scrollY) / 600;
        }
        if (scrollY < 2600 && scrollY >= 1800) {
          const text = document.querySelector("#ex1 p");
          if (text.innerText != "국내 택배사와 연계한 초고속 배송.") {
            text.innerText = "국내 택배사와 연계한 초고속 배송.";
          }
        }
        if (scrollY >= 2300 && scrollY < 2600) {
          const text = document.querySelector("#ex1 p");
          text.style.opacity = (2600 - scrollY) / 300;
        }
        if (scrollY >= 2600) {
          const text = document.querySelector("#ex1 p");
          if (text.innerText != "1주일내 단순 변심시에도 100% 환불") {
            text.innerText = "1주일내 단순 변심시에도 100% 환불";
          }
          text.style.opacity = (scrollY - 2600) / 300;
        }
        if (scrollY >= 2900) {
          const text = document.querySelector("#ex1 p");
          text.style.opacity = 1;
          const manu = document.querySelector("#manu");
          manu.style.opacity = 1;
        }
        if (scrollY < 3300) {
          const text = document.querySelector("#ex1 span");
          if (text.style.display != "none") {
            text.style.display = "none";
          }
          console.log(text.classList);
        }
        if (scrollY >= 3300) {
          const text = document.querySelector("#ex1 span");
          if (text.style.display == "none") {
            text.style.display = "inline-block";
          }
        }
        if (scrollY <= 4000 && scrollY > 3000) {
          const font = document.querySelector(".test");
          if (font.style.display == "none") {
            font.style.display = "block";
          }
          const body = document.querySelector("body");
          if (body.classList.contains("for")) {
            body.classList.remove("for");
          }
          const display = document.querySelector("#ex");
          if (display.classList.contains("no_show")) {
            display.classList.remove("no_show");
          }
        }

        if (scrollY > 4000) {
          const font = document.querySelector(".test");
          if (font.style.display != "none") {
            font.style.display = "none";
          }
          const body = document.querySelector("body");
          const display = document.querySelector("#ex");
          if (!display.classList.contains("no_show")) {
            display.classList.add("no_show");
          }

          if (!body.classList.contains("for")) {
            body.classList.add("for");
            body.style.backgroundColor = "white";
          }
        }
        if (scrollY <= 4700) {
          const font = document.querySelector(".event");
          if (!font.classList.contains("no_show")) {
            font.classList.add("no_show");
          }
          const events = document.querySelectorAll(".ele");
          events.forEach((ele) => {
            if (!ele.classList.contains("no_show")) {
              ele.classList.add("no_show");
            }
          });
        }
        if (scrollY > 4700) {
          const font = document.querySelector(".event");
          if (font.classList.contains("no_show")) {
            font.classList.remove("no_show");
          }
          const events = document.querySelectorAll(".ele");
          events.forEach((ele) => {
            if (ele.classList.contains("no_show")) {
              ele.classList.remove("no_show");
            }
          });
        }
      });
      function handleBasketCount() {
        const basketCount = document.querySelector(".basketCount");
        const local = JSON.parse(window.localStorage.getItem("basket"));
        if (!local) {
          basketCount.innerText = "0";
        } else if (local.length == 0) {
          basketCount.innerText = "0";
        } else {
          basketCount.innerText = local.length;
        }
      }
    </script>
  </body>
</html>
