<nav>
  <div class="upper-nav">
    <a id="home" href="/">Home</a>
    <a href="/shop"><p id="title">낚당몰.</p></a>
    <div class="icons">
      <a href="/shop/basket"
        ><img src="/static/image/shoppingBag.png" alt=""
      /></a>
    </div>
  </div>
  <div class="categories">
    <a href="/shop/fishingrod">낚시대</a>
    <a href="/shop/bait">미끼</a>
    <a href="/shop/equipment">공동장비</a>
  </div>
</nav>
