<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>낚당몰.</title>
    <link rel="stylesheet" href="/static/css/shop.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <style>
      nav {
        position: fixed;
        width: 100%;
      }
      footer {
        position: relative;
        bottom: 0px;
      }
      .useless {
        width: 100%;
        height: 5226px;
      }
      .image {
        position: fixed;
        top: 100px;
        z-index: 10;
        height: 800px;
        width: 100%;
        transition: 1s ease-in-out;
      }
      .image footer {
        z-index: 15;
      }
      .slide-in {
        position: fixed;
        z-index: 20;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="upper-nav">
        <a href="/"><img id="logo" src="/static/image/logo.png" alt="" /></a>
        <a href="/shop"><p id="title">낚당몰.</p></a>
        <div class="icons">
          <img src="/static/image/shoppingBag.png" alt="" />
        </div>
      </div>
      <div class="categories">
        <a href="/shop/fishingrod">낚시대</a>
        <a href="/shop/bait">미끼</a>
        <a href="/shop/equipment">공동장비</a>
      </div>
    </nav>
    <div class="useless"></div>
    <img class="image" src="/static/image/shopBackground.jpg" alt="" />
    <img
      class="slide-in"
      src="/static/image/shopBackground2.jpeg"
      alt=""
      style="display: none"
    />
    <footer class="text-center text-lg-start bg-white text-muted">
      <!-- Section: Social media -->
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 link-grayish">
            <i class="fa-brands fa-facebook" target="_blank"></i>
          </a>
          <a
            href="https://instagram.com/usfishing_official?igshid=YmMyMTA2M2Y="
            target="_blank"
            class="me-4 link-grayish"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a
            href="https://github.com/Malbongs/FishProject.git"
            target="_blank"
            class="me-4 link-grayish"
          >
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3 text-grayish"></i>당신의 낚시 파트너
                낚당!
              </h6>
              <p>
                2조 프로젝트 낚당 입니다. 어신 이라는 앱을 바탕으로 필요한
                점들을 추가 하여 제작하였습니다.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Stack</h6>
              <p>Node.js</p>
              <p>Jquery</p>
              <p>JavaScript</p>
              <p>HTML5 ,CSS, Github</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Team</h6>
              <p>
                <a
                  href="https://github.com/Malbongs"
                  target="_blank"
                  class="text-reset"
                  >KDT2nd_최준현</a
                >
              </p>
              <p>
                <a href="#!" target="_blank" class="text-reset"
                  >KDT2nd_우석우</a
                >
              </p>
              <p>
                <a
                  href="https://github.com/cge1023"
                  target="_blank"
                  class="text-reset"
                  >KDT2nd_최고은</a
                >
              </p>
              <p>
                <a
                  href="https://github.com/Ungzzi"
                  target="_blank"
                  class="text-reset"
                  >KDT2nd_정지웅</a
                >
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p>
                <i class="fas fa-home me-3 text-grayish"></i> Korea, Seoul, KDT
              </p>
              <p>
                <i class="fas fa-envelope me-3 text-grayish"></i>
                Nackdang@example.com
              </p>
              <p><i class="fas fa-phone me-3 text-grayish"></i>010-0000-0000</p>
              <p>
                <i class="fas fa-print me-3 text-grayish"></i> + 01 234 567 89
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div
        class="text-center p-4"
        style="background-color: #4a4a4b !important; color: white !important"
      >
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://sgma.io/">어신.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script>
      history.scrollRestoration = "manual";
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script>
      location.reload = (event) => {
        window.scollY = "0";
      };
      var body = document.body,
        html = document.documentElement;
      console.log(window.innerHeight);
      var height = Math.max(
        body.scrollHeight,
        body.offsetHeight,
        html.clientHeight,
        html.scrollHeight,
        html.offsetHeight
      );
      console.log(height);
      window.addEventListener("scroll", (event) => {
        let scrollY = this.scrollY;
        let scrollX = this.scrollX;
        if (scrollY < 300) {
          const img = document.querySelector(".slide-in");
          if (img.style.display != "none") {
            img.style.display = "none";
          }
        }
        if (scrollY > 300 && scrollY <= 600) {
          const newImage = document.querySelector(".slide-in");
          if (newImage.style.display != "none") {
            newImage.style.top =
              String(95 + (600 - scrollY) * (618 / 300)) + "px";
          } else {
            newImage.style.display = "block";
            newImage.style.top = "713px";
          }
          let want = 0.2 * ((600 - scrollY) / 300);
          img.style.opacity = 0.8 + want;
        }
        if (scrollY > 600) {
          const newImage = document.querySelector(".slide-in");
          newImage.style.top = "95px";
        }
      });
    </script>
  </body>
</html>
