<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>낚당몰.</title>
    <link rel="stylesheet" href="/static/css/shop.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <style>
      @keyframes come {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .for {
        animation-name: to_white;
        animation-duration: 1s;
      }
      @keyframes to_white {
        from {
          background-color: black;
        }
        to {
          background-color: white;
        }
      }
      .show {
        animation-name: come;
        animation-duration: 3s;
      }
      .no_show {
        display: none;
      }

      nav {
        position: fixed;
        width: 100%;

        z-index: 15;
        height: 100px;
      }
      footer {
        position: relative;
        bottom: 0px;
      }

      .image {
        position: fixed;
        top: 110px;
        z-index: 8;
        height: 800px;
        width: 100%;
        transition: 1s ease-in-out;
      }
      .image footer {
        z-index: 11;
      }
      .slide-in {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 100%;
      }
      .greetings {
        z-index: 14;
        width: 100%;
        position: fixed;
        top: 500px;
        text-align: center;
        color: white;
        font-size: 40px;
        font-weight: 800;
      }
      @keyframes slidein {
        from {
          top: 700px;
          opacity: 0;
        }
        to {
          top: 500px;
          opacity: 1;
        }
      }
      .greetings span:nth-child(2) {
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 3px;
        background: linear-gradient(
          to right,
          rgb(169, 206, 236),
          rgb(242, 185, 125)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .for_event {
        animation-name: slidein;
        animation-duration: 2s;
      }
      .test span {
        font-size: 50px;
        font-weight: 700;

        background: linear-gradient(
          to right,
          rgb(224, 125, 141),
          rgb(113, 113, 244)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      body {
        background-color: black;
        height: 6030px;
      }
      .test {
        width: 100%;
        font-weight: 500;

        text-align: center;
        z-index: 15;
        position: fixed;
        top: 300px;
        font-size: 25px;
      }

      nav {
        background-color: white;
        height: 110px;
      }
      .greetings span:nth-child(3) {
        font-size: 20px;
        font-weight: 300;
      }
      #ex {
        width: 100%;
        animation-name: come;
        animation-duration: 3s;
        position: fixed;
        top: 330px;
        z-index: 30;
        text-align: center;
      }
      #ex1 {
        position: relative;
        display: inline-block;
        width: 350px;
        height: 300px;
        border-radius: 10px;
        background-image: url("/static/image/logistics.jpg");
        background-size: cover;
      }
      #manu {
        border-radius: 10px;
        width: 100%;
        height: 100%;
      }
      #ex1 p {
        width: 240px;
        margin-left: 20px;
        text-align: left;
        position: absolute;
        color: white;
        font-weight: 600;
        font-size: 22px;
        bottom: 1px;
      }
      #ex1 span {
        animation-name: come;
        animation-duration: 2s;
        display: inline-block;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 100;
        color: white;
      }
      .event {
        animation-name: come;
        animation-duration: 5s;
        position: relative;
        top: 5400px;
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
      }
      .event_content {
        position: relative;
        top: 5400px;
      }
      .evnt {
        text-align: center;
      }
      .ele {
        position: relative;
        animation-name: come;
        animation-duration: 3s;
        display: inline-block;
        border-radius: 20px;
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
        background-color: rgb(250, 250, 250);
      }
      .evnt img {
        width: 50px;
      }
      .ele p {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
      }
      #event2 p {
        background: linear-gradient(
          to right,
          rgb(0, 116, 194),
          rgb(143, 254, 138)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      #event1 p {
        background: linear-gradient(
          to right,
          rgb(255, 250, 84),
          rgb(237, 117, 71)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      #event3 p {
        background: linear-gradient(
          to right,
          rgb(40, 51, 47),
          rgb(255, 255, 255)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      #event4 p {
        background: linear-gradient(
          to right,
          rgb(241, 66, 72),
          rgb(236, 144, 142)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .btn {
        position: absolute;
        width: 20px;
        top: 250px;
        left: 250px;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="upper-nav">
        <a id="home" href="/" style="color: white; text-decoration: none"
          >Home</a
        >
        <a href="/shop" style="text-decoration: none"
          ><p id="title">낚당몰.</p></a
        >
        <div class="icons">
          <a href="/shop/basket"
            ><img src="/static/image/shoppingBag.png" alt=""
          /></a>
        </div>
      </div>
      <div class="categories">
        <a href="/shop/fishingrod">낚시대</a>
        <a href="/shop/bait">미끼</a>
        <a href="/shop/equipment">공동장비</a>
      </div>
    </nav>
    <div class="greetings for_event">
      <span>낚당몰. <br /></span><span>Renewal <br /></span>
      <span>더 알아보기 위해 스크롤</span>
    </div>
    <div class="test">
      <span> 저렴하게. 색다르게. </span> <br />
      <span>강력하게.</span>
    </div>
    <div id="ex" class="no_show">
      <div id="ex1">
        <img id="manu" src="/static/image/manufacturing.jpg" alt="" />
        <p>자사가 직접 의뢰한 브랜드 제품 판매.</p>
        <span class="dontshow">이벤트에 대해 알아보려면 스크롤</span>
      </div>
    </div>
    <div class="event no_show">8월 이벤트</div>
    <div class="event_content row">
      <div class="col-12 col-md-6 col-lg-4 evnt">
        <div class="ele" id="event1">
          <img src="/static/image/plus1.PNG" alt="" class="btn" />
          <img src="/static/image/point.png" alt="" />
          <p>신규 가입자 1만 포인트 증정!</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 evnt">
        <div class="ele" id="event2">
          <img class="btn" src="/static/image/plus2.PNG" alt="" />
          <img src="/static/image/ship.png" alt="" />
          <p>응모하고 태평양 선상낚시 가자!</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 evnt">
        <div class="ele" id="event3">
          <img class="btn" src="/static/image/plus3.PNG" alt="" />
          <img src="/static/image/sale.png" alt="" />
          <p>미끼류 최대 40% 할인 중!</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 evnt">
        <div class="ele" id="event4">
          <img class="btn" src="/static/image/plus4.PNG" alt="" />
          <img src="/static/image/recruit.png" alt="" />
          <p>낚당몰. S/W 개발자 채용 중!</p>
        </div>
      </div>
    </div>

    <img class="image" src="/static/image/shopBackground.jpeg" alt="" />

    <script>
      history.scrollRestoration = "manual";
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script>
      document.querySelector(".test").style.opacity = "0";
      location.reload = (event) => {
        window.scollY = "0";
      };
      var body = document.body,
        html = document.documentElement;
      console.log(window.innerHeight);
      var height = Math.max(
        body.scrollHeight,
        body.offsetHeight,
        html.clientHeight,
        html.scrollHeight,
        html.offsetHeight
      );
      window.addEventListener("scroll", (event) => {
        const scrollY = window.scrollY;
        console.log(scrollY);
        if (scrollY < 500) {
          const target = document.querySelector(".greetings");
          const img = document.querySelector(".image");
          const font = document.querySelector(".test");
          if (target.style.display == "none") {
            target.style.display = "block";
          }
          target.style.opacity = 1 - scrollY / 500;
          img.style.opacity = 1 - scrollY / 500;
          font.style.opacity = scrollY / 500;
        }
        if (scrollY > 500) {
          const img = document.querySelector(".image");
          const target = document.querySelector(".greetings");
          if (target.style.display != "none") {
            target.classList.remove("for_event");
            target.style.display = "none";
            if (img.style.opacity != "0") {
              img.style.opacity = "0";
            }
          }
        }
        if (scrollY >= 500 && scrollY < 600) {
          const font = document.querySelector(".test");
          if (font.style.opacity != "1") {
            font.style.opacity = "1";
          }
          if (font.style.top != "300px") {
            font.style.top = "300px";
          }
        }
        if (scrollY >= 600 && scrollY < 1200) {
          const font = document.querySelector(".test");
          font.style.top = String(300 - (150 * (scrollY - 600)) / 600) + "px";
        }
        if (scrollY < 1200) {
          const ex = document.querySelector("#ex");
          if (!ex.classList.contains("no_show")) {
            ex.classList.add("no_show");
          }
        }
        if (scrollY >= 1200 && scrollY < 2100) {
          const ex = document.querySelector("#ex");
          if (ex.classList.contains("no_show")) {
            ex.classList.remove("no_show");
          }
        }
        if (scrollY >= 1200 && scrollY < 1800) {
          const text = document.querySelector("#ex1 p");
          if (text.innerText != "자사가 직접 의뢰한 브랜드 제품 판매.") {
            text.innerText = "자사가 직접 의뢰한 브랜드 제품 판매.";
          }
          text.style.opacity = (1600 - scrollY) / 300;
        }
        if (scrollY >= 1800 && scrollY < 2100) {
          const text = document.querySelector("#ex1 p");
          if (text.innerText != "국내 택배사와 연계한 초고속 배송.") {
            text.innerText = "국내 택배사와 연계한 초고속 배송.";
          }
          text.style.opacity = 1 - (2100 - scrollY) / 300;
        }

        if (scrollY >= 1500 && scrollY < 2100) {
          const manu = document.querySelector("#manu");
          manu.style.opacity = (2100 - scrollY) / 600;
          if (scrollY >= 2100 && scrollY < 2300) {
            const manu = document.querySelector("#manu");
            manu.style.opacity = 0;
          }
        }
        if (scrollY <= 2300) {
          const manu = document.querySelector("#manu");
          if (manu.getAttribute("src") != "/static/image/manufacturing.jpg") {
            manu.setAttribute("src", "/static/image/manufacturing.jpg");
          }
        }
        if (scrollY >= 2300 && scrollY < 2900) {
          const manu = document.querySelector("#manu");
          if (manu.getAttribute("src") != "/static/image/refund.jpg") {
            manu.setAttribute("src", "/static/image/refund.jpg");
          }
          manu.style.opacity = 1 - (2900 - scrollY) / 600;
        }
        if (scrollY < 2600 && scrollY >= 1800) {
          const text = document.querySelector("#ex1 p");
          if (text.innerText != "국내 택배사와 연계한 초고속 배송.") {
            text.innerText = "국내 택배사와 연계한 초고속 배송.";
          }
        }
        if (scrollY >= 2300 && scrollY < 2600) {
          const text = document.querySelector("#ex1 p");
          text.style.opacity = (2600 - scrollY) / 300;
        }
        if (scrollY >= 2600) {
          const text = document.querySelector("#ex1 p");
          if (text.innerText != "1주일내 단순 변심시에도 100% 환불") {
            text.innerText = "1주일내 단순 변심시에도 100% 환불";
          }
          text.style.opacity = (scrollY - 2600) / 300;
        }
        if (scrollY >= 2900) {
          const text = document.querySelector("#ex1 p");
          text.style.opacity = 1;
          const manu = document.querySelector("#manu");
          manu.style.opacity = 1;
        }
        if (scrollY < 3300) {
          const text = document.querySelector("#ex1 span");
          if (text.style.display != "none") {
            text.style.display = "none";
          }
          console.log(text.classList);
        }
        if (scrollY >= 3300) {
          const text = document.querySelector("#ex1 span");
          if (text.style.display == "none") {
            text.style.display = "inline-block";
          }
        }
        if (scrollY <= 4000 && scrollY > 3000) {
          const font = document.querySelector(".test");
          if (font.style.display == "none") {
            font.style.display = "block";
          }
          const body = document.querySelector("body");
          if (body.classList.contains("for")) {
            body.classList.remove("for");
            body.style.backgroundColor = "black";
          }
          const display = document.querySelector("#ex");
          if (display.classList.contains("no_show")) {
            display.classList.remove("no_show");
          }
        }

        if (scrollY > 4000) {
          const font = document.querySelector(".test");
          if (font.style.display != "none") {
            font.style.display = "none";
          }
          const body = document.querySelector("body");
          const display = document.querySelector("#ex");
          if (!display.classList.contains("no_show")) {
            display.classList.add("no_show");
          }

          if (!body.classList.contains("for")) {
            body.classList.add("for");
            body.style.backgroundColor = "white";
          }
        }
        if (scrollY <= 4700) {
          const font = document.querySelector(".event");
          if (!font.classList.contains("no_show")) {
            font.classList.add("no_show");
          }
          const events = document.querySelectorAll(".ele");
          events.forEach((ele) => {
            if (!ele.classList.contains("no_show")) {
              ele.classList.add("no_show");
            }
          });
        }
        if (scrollY > 4700) {
          const font = document.querySelector(".event");
          if (font.classList.contains("no_show")) {
            font.classList.remove("no_show");
          }
          const events = document.querySelectorAll(".ele");
          events.forEach((ele) => {
            if (ele.classList.contains("no_show")) {
              ele.classList.remove("no_show");
            }
          });
        }
      });
    </script>
  </body>
</html>
