@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-color: #1c1c1c;
    --bg-color: #ededed;
    --text-color: #1c1c1c;
    --background-color: #ededed;
}


* {
    font-family: 'Pretendard-Regular';
}

.allWrap {
    margin: 0;
}

.sideWrap {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap: 10px;
    margin: 0;
}

.centerWrap {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginWrap {
    z-index: 99;
    height: 210px;
    display: flex;
}

.loginWrap .loginTitle h3 {
    font-size: 14px;
    text-align: center;
}

.loginWrap .indexBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.loginAndRegister {
    display: flex;
    gap: 5px;
}

.loginBtn {
    background-color: var(--bg-color);
    color: var(--main-color);
    width: 78px;
    font-size: 14px;
}

.loginBtn:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.rankWrap .indexBoard {
    padding: 10px;
    margin: 0;
}

.rankWrap {
    z-index: 98;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
}


.rankWrap .rankTitle {
    display: flex;
    flex-direction: column;
}

.rankTitle h3 {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.rankTitle span {
    text-align: center;
    font-size: 11px;
}

.rankWrap .rankList {
    list-style: none;
    padding-left: 10px;

}

.rankList .rankNum {
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 3px;
    border-radius: 3px;
    text-align: center;
    width: 18px;
    height: 18px;
    font-size: 10px;
}

.rankList #rankText {
    padding-left: 10px;
    font-size: 14px;
}

.rankList a {
    text-decoration: none;
    color: var(--main-color);
}

.rankList>li {
    display: flex;
    margin: 5px 0px;
}

.sideBannerWrap {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.sideBannerWrap:hover {
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#sideBannerImg {
    width: 100%;
    height: auto;
}

.sideBannerText {
    white-space: pre-line;
    z-index: 99;
    position: absolute;
    text-align: center;
    font-size: 45px;
    font-weight: 700;

    background: linear-gradient(to right,
            rgb(224, 125, 141),
            rgb(113, 113, 244));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.bannerWrap {
    text-decoration: none !important;
    width: 100%;
}

.banner {
    width: 100%;
    height: auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.bannerText {
    width: 97%;
    height: 200px;
    background-image: url(/static/image/board/bannerImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--background-color);
    text-align: right;
    white-space: pre-line;
    font-size: 45px;
    padding-right: 10px;
    border-radius: 10px;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.bannerText:hover {
    opacity: 0.75;
}

.indexBoard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    width: 100%;
    height: 95%;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.indexBoard:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.indexBoardTitle a {
    text-decoration: none !important;
    color: #ededed;
}

.indexBoardText a {
    text-decoration: none !important;
    color: black;
}

.indexBoardTitle a:hover,
.indexBoardText a:hover {
    text-decoration: none !important
}

.indexBoardTitle>h3 {
    font-weight: bold;
    font-size: 20px;
}

.indexBoardTitle>h3:hover {
    transform: scale(1.2);
}

.indexBoardTitle>.more {
    font-size: 12px;
}

.indexBoardTitle>.more:hover {
    transform: scale(1.2);
}

.centerWrap .container {
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.container .indexBoard {
    margin-bottom: 10px;
}


.indexBoardTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #1c1c1c;
    width: 100%;
    border-radius: 3px;
    height: 10%;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.indexBoardText>.textLine {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 5px;
    font-size: 12px;
}

.indexBoardText .date {
    font-size: 12px;
}

.boardPreview>.imgPreview {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.imgPreview>.imgTitle {
    font-size: 12px;
}

.imgPreview img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.boardPreview>.imgPreview:hover {
    transform: scale(1.2);
}

.boardPreview img {
    border-radius: 10%;
    height: 100%;
}

.boardPreview .imgPreview:nth-child(1) {
    opacity: 0;
    animation: fadein 1s 0.5s forwards;
}

.boardPreview .imgPreview:nth-child(2) {
    opacity: 0;
    animation: fadein 1s 1s forwards;
}

.boardPreview .imgPreview:nth-child(3) {
    opacity: 0;
    animation: fadein 1s 1.5s forwards;
}

.boardPreview .imgPreview:nth-child(4) {
    opacity: 0;
    animation: fadein 1s 2s forwards;
}

.chatImg {
    width: 60px;
    height: 60px;
}

.chatLine {
    display: flex;
    gap: 5px;
}

.chat>.chatIcon {
    background-color: transparent;
    border: none;
}

.chat {
    position: fixed;
    bottom: 70px;
    right: 10px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    animation-name: alarm;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.chat .chatCnt {
    position: absolute;
    right: 10px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: white;
}

.inputForm {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    width: 100%;
    border: none;
}

.inputForm>#chatBg {
    border: none;
}

.chatForm .chatUser {
    font-weight: bold;
}

.pageUp a {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.upImg {
    width: 60px;
    height: 60px;
}

.pageUp a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.pageUp .upText {
    position: absolute;
    text-align: right;
    width: 100%;
    top: 5px;
    right: 10px;
}

@keyframes alarm {
    0% {}

    10% {
        margin-bottom: 10px;
    }

    20% {
        margin-bottom: 0px;
    }

    30% {
        margin-bottom: 10px;
    }

    40% {
        margin-bottom: 0px;
    }
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#sideBannerImg {
    animation: changeBanner;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border-radius: 10px;
}

@keyframes changeBanner {
    0% {
        content: url(/static/image/board/sideBannerStart.png);
    }

    30% {
        content: url(/static/image/board/sideBanner1.png);
        font-size: 0px;
    }

    40% {
        content: url(/static/image/board/sideBanner2.png);
    }

    50% {
        content: url(/static/image/board/sideBanner3.png);
    }

    60% {
        content: url(/static/image/board/sideBanner4.png);
    }

    100% {
        content: url(/static/image/board/sideBannerEnd.png);
    }
}

@media screen and (max-width: 1000px) {

    .sideWrap {
        display: none;
    }

    .boardWrap {
        padding: 0;
    }

    .container {
        max-width: 100%;
    }

    .main {
        margin: 0;
    }

    .indexBoard {
        width: 100%;
    }

    .indexBoardTitle {
        background-color: #1c1c1c;
        width: 100%;
        border-radius: 5px;
        margin: 0;
        margin-bottom: 10px;
        padding-right: 5px;
        padding-left: 10px;
    }

    .indexBoardTitle a {
        font-size: 16px;
        color: #ededed;
    }

    .indexBoardTitle .more a {
        font-size: 11px;
    }

    .banner {
        text-align: center;
        width: 100%;
        justify-content: center;
    }

    .bannerText {
        width: 95vw;
        font-size: 30px;
    }

    .indexBoardText>.textLine {
        font-size: 3vw;
    }

    .imgTitle {
        font-size: 3vw;
        padding-top: 5px;
    }

    .upImg {
        width: 50px;
        height: 50px;
    }

    .pageUp a {
        width: 50px;
        height: 50px;
    }

    .chatImg {
        width: 50px;
        height: 50px;
    }

    .chat {
        width: 50px;
        height: 50px;
        bottom: 60px;
    }

    .chatModal,
    .chatModal input,
    .chatModal select,
    .submitBtn {
        font-size: 10px;
    }

    .chatModal .modal-footer {
        padding: 0px;
    }

    .chatModal .modal-header {
        padding: 10px;
    }
}