@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

.indexBoard {
    display: flex;
    flex-direction: column;
}

.indexBoardTitle a,
.indexBoardText a {
    text-decoration: none !important;
    color: black;
}

.indexBoardTitle a:hover,
.indexBoardText a:hover {
    text-decoration: none !important
}

.indexBoardTitle>h3 {
    font-weight: bold;
    font-size: 20px;
}

.indexBoardTitle>h3:hover {
    transform: scale(1.2);
}

.indexBoardTitle>.more {
    font-size: 12px;
}

.indexBoardTitle>.more:hover {
    transform: scale(1.2);
}

.main>.container {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    grid-gap: 20px;
    justify-content: center;
    padding-top: 100px;
}

.indexBoard {
    background-color: white;
    border-radius: 12px;
    width: 500px;
    height: 500px;
    margin: 20px;
}

.indexBoardTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    height: 10%;
    margin: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


.indexBoardText>.textLine {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 5px;
}

.indexBoardText .date {
    font-size: 12px;
}

.boardPreview>.imgPreview {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.boardPreview>.imgPreview:hover {
    transform: scale(1.2);
}

.boardPreview img {
    border-radius: 10%;
    height: 100%;
}

.boardPreview .imgPreview:nth-child(1) {
    opacity: 0;
    animation: fadein 1s 0.5s forwards;
}

.boardPreview .imgPreview:nth-child(2) {
    opacity: 0;
    animation: fadein 1s 1s forwards;
}

.boardPreview .imgPreview:nth-child(3) {
    opacity: 0;
    animation: fadein 1s 1.5s forwards;
}

.boardPreview .imgPreview:nth-child(4) {
    opacity: 0;
    animation: fadein 1s 2s forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}