@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

.article a,
.cancel {
    text-decoration: none !important
}

.artice a:hover,
.cancel {
    text-decoration: none !important
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.article>.boardList,
h1,
.item {
    padding: 20px;
    background-color: white;
    width: 70%;
    border-radius: 12px;
}

.article>h1 {
    font-size: 2em;
}

.article>.articleTop {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.articleTop>.back,
.articleTop>.write {
    padding: 10px;
    background-color: white;
    font-size: 15px;
    height: auto;
    border-radius: 12px;
    color: black;
}

.articleTop>.back:hover,
.articleTop>.write:hover {
    background-color: rgb(224, 224, 224);
}

.item {
    display: flex;
    flex-wrap: wrap;
}

.info {
    width: 100%;
}

.infoTitle {
    font-size: 25px;
    font-weight: bold;

}

.etc>.writer {
    color: rgb(165, 164, 164);
}

.etc {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 0.1px solid gray;
}

.etc>.report {
    right: 0%;
}

.content {
    height: 400px;
    font-size: 20px;
}

.listAndEdit {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.commentsTitle {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.newComment {
    width: 100%;
}

.nameAndPassword {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.commentBtn {
    display: flex;
    justify-content: right;
    width: 100%;
}

.commentCnt {
    font-weight: bold;
}

.commentBox {
    margin-bottom: 10px;
}

.commentBox>.row:hover {
    background-color: rgb(235, 235, 235);
}


.commentBox button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    align-items: flex-start;
    text-align: center;
}

.commentBox button {
    background-image: url(/static/image/board/rmvBtn.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.commentBox .name {
    font-weight: bold;
}

.articleTitle {
    width: 100%;
    height: 100%;
    border: none;
}

.articleTitle>.form-control {
    border: none;
    font-size: 1.5em;
}

.articleWriter>.form-control {
    border: none;
    font-size: 1em;
}

.writeForm {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.writeForm>textarea {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1em;
}

.writeBtn {
    width: 70%;
    text-align: right;
}

.cancel {
    color: white;
}

#shareModal img {
    width: 50px;
    height: 50px;
}

#shareModal .icon button {
    background-color: white;
    border: none;
}

#shareModal .urlCopy {
    display: flex;
    margin-top: 5px;
}

.boardCategory {
    display: flex;
    gap: 10px;
    width: 70%;
    margin: 10px 0px 10px 10px;
    opacity: 0.4;
}

.boardCategory>button {
    width: 100px;
    font-size: 13px;
}

.writeTitle {
    width: 70%;
    text-align: left;
    color: gray;
    margin-left: 10px;
    margin-bottom: 10px;
}

.articleBottom {
    margin-top: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.upImg {
    width: 100px;
    height: 100px;
}

/* 첨부파일 */
.attach label {
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #65AAB5;
    cursor: pointer;
    border: 1px solid #65AAB5;
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.attach label:hover {
    background-color: #65AAB5;
}

.attach label:active {
    background-color: #015871;
}

.attach input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* 페이지네이션 버튼 색깔 */
#myTable_wrapper .page-link {
    color: #65AAB5;
    background-color: #fff;
    border: 1px solid #ccc;
}

#myTable_wrapper .disabled .page-link {
    color: #ccc;
}

#myTable_wrapper .active .page-link {
    z-index: 1;
    color: white !important;
    font-weight: bold;
    background-color: #65AAB5 !important;
    border-color: #ccc;
}

#myTable_wrapper .page-link:focus,
#myTable_wrapper .page-link:hover {
    color: white !important;
    background-color: #65AAB5 !important;
    border-color: #ccc;
}

@media screen and (max-width : 1000px) {


    .article>.articleTop {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    .article>.boardList,
    h1,
    .item {
        padding: 20px;
        background-color: white;
        width: 90%;
        border-radius: 12px;
    }

    .article .writeTitle {
        width: 90%;
        margin-bottom: 0px;
    }

    .boardCategory {
        justify-content: left;
        width: 90%;
        margin: 10px 0px 10px 0px;
    }

    .boardCategory>button {
        width: 25vw;
    }

    .articleBottom {
        width: 90%;
        justify-content: space-between;
    }

    .upImg {
        width: 70px;
        height: 70px;
    }
}