body{
    margin: 0px;
}





/* 네비 css */
nav{
    position: fixed !important;
    z-index: 1;
    top: 0;
    width: 100%;
}

nav *{
    font-size: 15px !important;
    font-family: "SUIT-Medium" !important;
    color: white !important;
}
 
.change{
    background-color: white;
}
.change a{ 
    color: black !important;
}

.logoimg{

    width: 45px;
    height: 40px;
}

.seson{
   
    width: 200px;
    height: 200px;
}
.seson:hover{
    cursor: pointer;
    
}
/* 메인페이지 */
.div1{ 
   
    width: 100%;
    height: 850px;
    animation-name: div1;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background-size: cover;
    z-index: -1;
    }

    @keyframes div1{
        0%{
            background-image: url('/static/image/f1.jpeg');

        }
        25%{
            background-image: url('/static/image/f2.jpeg');
        }
        50%{
            background-image: url('/static/image/f3.jpeg');
        }
        75%{
            background-image: url('/static/image/f4.jpeg');
        }
        100%{
            background-image: url('/static/image/f5.jpeg');
        }
    }




    .div2{
        font-family: "SUIT-Medium";
        position: absolute;
        top:  350px;
        left: 45%;
        font-size: 30px;
        align-content: center;
        color: white

     
    }

    /* 화면구현 */

    /* 첫번째 화면 */
    .part1{
       
        width: 100%;
        height: 850px;
        font-family: "SUIT-Medium";
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url('/static/image/vison.jpeg');
        background-size: cover;

  
      
    }
    h1{
        font-weight: bold;
        position: relative;
        top: 180px;
        text-align: center;
        color: white;
        font-size: 80px;
    }
   
    .vison{
        
        position:relative;
        top: 400px;
        text-align: center;
        color: white;
        font-size: 30px;
    }
 
    list{
        font-family: "SUIT-Medium";
        margin: 0 20px;
    }




   
    /* 두번째 화면 */
    .part2{
        position: relative; 
        width: 100%;
        height: 860px;
        text-align: center;
    }

    .contentbox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5%;
    }
    .dosi{
        margin-top: 30px;
        width: 450px;
    }
    .dosi:hover{
        cursor: pointer;
    }
    .seson:hover{
        cursor: pointer;
    }
    /* 세번째 화면 */
    .part3{
        text-align: center;
        width: 100%;
        min-height: 850px;
        
    }

    .NACK{
        font-family: "SUIT-Medium";
        font-size: 80px;
        font-weight: 2000;
    }
    
    .NACK img:hover{
        cursor: pointer;
    }

    .shop{
        display: inline-block;
        margin-top: 150px;
        width: 90%;
        height : 100%;
        overflow: hidden;
    }
    .shop img{
        padding: 15px;
        width: 100%;
        height: 20%;
    }
    .shop .shopimg:hover{
        cursor: pointer;
        transform: scale(1.2);
        transition: all 0.2s linear;
    }



    /* 네번째 화면 */
    .part4{
        width: 100%;
     }

    
     .news{ 
        margin-top: 150px;
        margin-bottom: 50px;
        font-family: "SUIT-Medium";
        font-weight: 1000;
        color: black;
        font-size: 50px;
        

     }
     .news:hover{
        cursor: pointer;
        
     }

     .videos{
        display: flex;
        padding: 10px; 
     }

    
    
    .tag{
        margin-top: 10px;
        font-family: "SUIT-Medium";
        color: black;
        font-size: 17px;
    }   

    .tag p {
        color: gray;
        font-size: 13px;
    }

    /* 날씨 아이콘 */
    .weather {
        position: fixed;
        bottom: 50px;
        right: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: alarm;
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 1;
        border: none;
    }
    .weatherIcon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .modal-body {
        display: flex;
    }
    @keyframes alarm {
        0% {}
    
        10% {
            margin-bottom: 10px;
        }
    
        20% {
            margin-bottom: 0px;
        }
    
        30% {
            margin-bottom: 10px;
        }
    
        40% {
            margin-bottom: 0px;
        }
    }
    /* 폰트 */
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: "SUIT-Medium";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
          format("woff2");
        font-weight: normal;
        font-style: normal;
      }

    @media screen and (min-width: 100px) and (max-width:450px) {
        .div1, .part1, .part2 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .part2 {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .contentbox {
            margin: auto;
            height: 38%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
        }

    }
    