@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
* {
    font-family: 'HallymGothic-Regular';
    margin: 0;

}

body {
    color: black;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide h3 {
    font-size: 1em !important;
}

.container {
    width: 1600px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.subcontainer {
    width: 85% !important;
    margin: auto;
}

.controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 15px 10px 15px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.controller h2 {
    color: black;
    font-size: 1.3em !important;
    font-weight: bolder !important;
    margin-bottom: 0 !important;
}

.controls-1 i, .controls-2 i, .controls-3 i, .controls-4 i{
    color: black;
    font-size: 1.3rem;
}

.previous-1, .next-1, .previous-2, .next-2, .previous-3, .next-3, .previous-4, .next-4{
    width: 35px;
    height: 35px;
    cursor: pointer;
    outline: none;
    transition: 0.7s ease-in-out;
    border: none;
    background-color: white;
}

.slide-img {
    width: 100%;
    height: 230px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
} 

.slide-img:hover {
    box-shadow: 0 0 0 230px rgba(0, 0, 0, 0.9) inset;
}

.slide-img a {
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
}

.slide-img i {
    font-size: 3rem;
    color: red;
}

.slide-img:hover a {
    opacity: 1;
    transform: scale(1);
}
.slide div:nth-child(2) p {
    font-size: 12px;
    color: grey;
}
.img-1 {
    background-image: url("/static/image/onetwo1.png");
}
.img-2 {
    background-image: url("/static/image/onetwo2.png");
}
.img-3 {
    background-image: url("/static/image/onetwo3.png");
}
.img-4 {
    background-image: url("/static/image/onetwo4.png");
}
.img-5 {
    background-image: url("/static/image/onetwo5.png");
}
.img-6 {
    background-image: url("/static/image/zzi1.png");
}
.img-7 {
    background-image: url("/static/image/zzi2.png");
}
.img-8 {
    background-image: url("/static/image/zzi3.png");
}
.img-9 {
    background-image: url("/static/image/zzi4.png");
}
.img-10 {
    background-image: url("/static/image/zzi5.png");
}
.img-11 {
    background-image: url("/static/image/lure1.png");
}
.img-12 {
    background-image: url("/static/image/lure2.png");
}
.img-13 {
    background-image: url("/static/image/lure3.png");
}
.img-14 {
    background-image: url("/static/image/lure4.png");
}
.img-15 {
    background-image: url("/static/image/lure5.png");
}
.img-16 {
    background-image: url("/static/image/sunsang1.png");
}
.img-17 {
    background-image: url("/static/image/sunsang2.png");
}
.img-18 {
    background-image: url("/static/image/sunsang3.png");
}
.img-19 {
    background-image: url("/static/image/sunsang4.png");
}
.img-20 {
    background-image: url("/static/image/sunsang5.png");
}

@media(max-width:1600px) {
    .container {
        width: 100%;
    }
}