/* 네비 css */
nav{
    position: fixed !important;
    top: 0;
    z-index: 100; /*네브바 펼쳤을 때 바디 내용이 가려지게끔 z-index 100로 변경하였습니다 */
    width: 100%;
}

nav *{
    font-size: 15px !important;
    font-family: "SUIT-Medium" !important;
    color: black !important;
}

.logoimg{

    width: 45px;
    height: 40px;
}

@font-face {
    font-family: "SUIT-Medium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
  }