.row{
  margin-left:5px;
}
@font-face {
  font-family: 'EF_WAKEUP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_WAKEUP.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
h1.category_shop {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
  }
  div.col-12.col-lg-3.col-md-4.col-sm-6 {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-bottom: 10px;

  }
  img.image_shop {
    margin-bottom: 10px;
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 0px;
    
  }
  img.image_page {
    margin-bottom: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 0px;
   
  }
  .row p {
    margin-bottom: 0px;
  }
  p.price {
    color: rgb(11, 67, 141);
  }
  div.upper-bar_shop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  div.upper-bar_shop div {
    margin-left: 30px;
  }
  div.upper-bar_shop select {
    margin-right: 30px;
  }
h1.link_page{
  text-align: center;
  margin-bottom: 40px;
    margin-top: 15px;
    font-weight: 100;
    opacity: 0.3;
    font-size: 20px;
    


}
div.col-12.col-md-6{
  position: relative;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-bottom: 20px;
}
h1.link_page a{
  font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    
}
div.detail_page{
  padding-left:20px;
}
h1.productName_page{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:20px;
  font-weight: 400;
}
div.sizeAndPrice{
  display: flex;
  justify-content: space-evenly;
}
#size{
  border-radius: 5px;
  height:30px;
  width:300px;
}
div.price_page{
  font-weight: 600;
  color: rgb(11, 67, 141);
}
div.price_page{
  margin-bottom:20px;
}
div.order_page{
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  width: 350px;

}
div.order_page input{
  width: 100px;
}
div.order_page button{
  width:120px;
}

select#size{
  margin-bottom: 30px;
}
button.basket_page{
  background-color: white;
  border:rgb(53,96,255) 1px solid;
  color: rgb(53,96,255);
  font-weight: 500;
}
button.ordernow_page{
  background-color: rgb(53,96,255);
  border:rgb(53,96,255) 1px solid;
  color: white;
  font-weight: 500;
}
.order_page input{
  text-align: center;
  font-weight: 500;
}
.order_page input:focus{
  outline:none;
}
div.totalPrice_page{
  width:350px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.totalPrice_page span:nth-child(1){
  font-weight: 600;
}

p.info_page{
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;
}

div.essentialInfo{
  text-align: center;
 
}

table{
  width: 350px;
  display: inline-block;
  
}

div.row{
  width:100%;
}
tr td:nth-child(1){
  width:150px;
  background-color: rgb(240,240,240);

}
td{

  font-weight: 200;
  font-size:11px;
  height: 50px;
}
tr{
  
  height: 40px;
  border-bottom: 1px solid rgb(230,230,230);
  border-top: 1px solid rgb(230,230,230);
}
tr td:nth-child(2){
  width:220px;


}
td p{
  margin-left: 5px;
}

.col-12.col-sm-6.col-md-4.col-lg-3 p:hover{
  cursor: pointer;
}
.col-12.col-sm-6.col-md-4.col-lg-3 img:hover{
  cursor: pointer;
}
@font-face {
  font-family: "SUIT-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
p#title {
  margin-left:10px;
  width:190px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  color:black; 

  left:0px;
  top:15px;
  display: inline-block;
  font-weight: 600;
}
.upper-nav {
  display: flex;
  font-family: SUIT-Medium;
  position:relative;
  justify-content: space-between;
  background-color: white;
  height: 60px;
  align-items: center;
  
  
 
}
#show-none{
  width:190px;
}
#search{
  width:200px;
  display: inline-block;
  position: relative;

}
#logo {
  width: 50px;
  margin-left: 10px;
  margin-right: 40px;
}
.icons{
  display: inline-block;
}
#show_bar img{
  width:30px;
  margin-right: 10px;
}
.icons img {
  display: inline-block;
  width: 60px;
  margin-left: 0px;
  margin-right:10px;
}
.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categoriesInfo{
  width:80px;
}
#home{
  margin-left:10px;
  color: white;
  text-decoration: none;
}


.categories a {

  margin-left: 10px;
  margin-right: 10px;
  font-family: UIT-Medium;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
p#title{
  margin-bottom: 0px;
  margin-top: 0px;
}
a {
  text-decoration: none;
}
img[src^='/static/image/star']{
  width:20px;
}
#shop_bar{
  position: relative;
}
.basketCount{
  font-weight: 600;
  width: 15px;
  height:15px;
  text-align: center;
  font-size: 11px;
  color:white;
  background: linear-gradient(
          to right,
          rgb(241, 66, 72),
          rgb(252, 144, 50)
        );
  border-radius: 100%;
  position:absolute;
  bottom:35px;
  right:15px;
}

/* */
@keyframes come {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.for {
  animation-name: to_white;
  animation-duration: 1s;
}
@keyframes to_white {
  from {
    background-color: white;
  }
  to {
    background-color: white;
  }
}
.show {
  animation-name: come;
  animation-duration: 3s;
}
.no_show {
  display: none;
}

nav#main {
  position: fixed;
  width: 100%;

  z-index: 15;
  height: 100px;
}

.image {
  position: fixed;
  top: 90px;
  z-index: 8;
  height: 800px;
  width: 100%;
  transition: 1s ease-in-out;
}
.fish{
  position:fixed;
  top:90px;
  height:800px;
  width: 100%;
  
}
.dday{
  animation-name: come;
  animation-duration: 3s;
  color:white;

}
.slide-in {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.greetings {
  z-index: 14;
  width: 100%;
  position: fixed;
  top: 450px;
  text-align: center;
  
  font-size: 40px;
  font-weight: 400;
}
@keyframes slidein {
  from {
    top: 650px;
    opacity: 0;
  }
  to {
    top: 450px;
    opacity: 1;
  }
}
.greetings p:nth-child(1){
  color: white;
  margin-bottom: 0px;
  height: 50px;
}
.greetings p:nth-child(2) span {
  
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 5px;
  background: linear-gradient(
    to right,
    rgb(243, 236, 171),
    rgb(220, 220, 244)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.for_event {
  animation-name: slidein;
  animation-duration: 2s;
}
.test span {
  font-size: 40px;
  font-weight: 700;

  background: linear-gradient(
    to right,
    rgb(224, 125, 141),
    rgb(113, 113, 244)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.test {
  width: 100%;
  font-weight: 500;

  text-align: center;
  z-index: 15;
  position: fixed;
  top: 300px;
  font-size: 25px;
}

nav {
  background-color: white;
  height: 110px;
}
.greetings span:nth-child(3) {
  font-size: 20px;
  font-weight: 300;
}
#ex {
  width: 100%;
  animation-name: come;
  animation-duration: 3s;
  position: fixed;
  top: 300px;
  z-index: 30;
  text-align: center;
}
#ex1 {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 300px;
  border-radius: 10px;
  background-image: url("/static/image/logistics.jpg");
  background-size: cover;
}
#manu {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
#ex1 p {
  width: 240px;
  margin-left: 20px;
  text-align: left;
  position: absolute;
  color: white;
  font-weight: 600;
  font-size: 22px;
  bottom: 1px;
}
#ex1 span {
  animation-name: come;
  animation-duration: 2s;
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
  color: black;
}
.event {
  animation-name: come;
  animation-duration: 5s;
  position: relative;
  top: 5400px;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.event_content {
  position: relative;
  top: 5400px;
}
.evnt {
  text-align: center;
}
.ele {
  position: relative;
  animation-name: come;
  animation-duration: 3s;
  display: inline-block;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  background-color: rgb(250, 250, 250);
}
.evnt img {
  width: 50px;
}
.ele p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
#event2 p {
  background: linear-gradient(
    to right,
    rgb(0, 116, 194),
    rgb(143, 254, 138)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#event1 p {
  background: linear-gradient(
    to right,
    rgb(255, 250, 84),
    rgb(237, 117, 71)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#event3 p {
  background: linear-gradient(
    to right,
    rgb(40, 51, 47),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#event4 p {
  background: linear-gradient(
    to right,
    rgb(241, 66, 72),
    rgb(236, 144, 142)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  position: absolute;
  width: 20px;
  top: 250px;
  left: 250px;
}
#show_bar {
  margin-right:10px;
  display: flex;
  justify-content: space-between;
}
.categoriesInfo{
  display: flex;
  
  justify-content: space-between;
}
.categoriesInfo a{
  margin-right: 0px;
  font-weight: 400;
  font-size: 11px;
  display: inline-block;
}
p.intro {
  width: 100%;
  text-align: center;
  
  z-index: 100;
  position: fixed;
  top:200px;
  font-size: 35px;
  
}
p.intro span:nth-child(1){
  display:inline-block;
  font-weight: 600;
 color:rgb(255,255,255);
  
 
}
p.intro span:nth-child(3){
  display:inline-block;
  font-size: 25px;
  font-weight: 600;
 color:rgb(255,255,255);
  
 
}
.dday span{
  font-weight: 100;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: rgb(255,255,255,0.1);

}
.dday{
  z-index: 100;
  display: inline-block;
  font-size: 30px;
  animation-duration: 3s;
  animation-name: come;
  width: 100%;
  text-align: center;
  position: fixed;
  top:500px;
}
  
