@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HallymGothic-Regular';
}

.wrapper {
    width: 100%;
    border-radius: 3%;
    margin: 0;
    background-color: transparent;
}
.wrapper header {
    color: white;
    font-size: 21px;
    font-weight: 500;
    padding: 16px 0px;
    display: flex;
    align-items: center;
}
header i {
    color: black;
    cursor: pointer;
    font-size: 0px;
    margin-right: 8px;
}
.wrapper.active header i {
    font-size: 30px;
}
.wrapper .input-part {
    margin: 20px 25px 30px;
}
.wrapper.active .input-part {
    display: none;
}
.input-part .info-txt {
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}
.info-txt.error {
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb
}
.info-txt.pending {
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb
}
.input-part :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}
.input-part input {
    text-align: center;
    border: 1px solid #bfbfbf;
}
.input-part input:is(:focus, :valid) {
    border: 2px solid #65AAB5;
}
.input-part .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator::before{
    content: 'or';
    color: black;
    font-size: 19px;
    padding: 0 15px;
    background: transparent;
}
.input-part button {
    color: black;
    cursor: pointer;
    background: white;
}
.wrapper .weather-part{
    margin: 30px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapper.active .weather-part {
    display: flex;
}
.weather-part img {
    max-width: 125px;
}
.weather-part .temp {
    color: black;
    display: flex;
    font-size: 72px;
    font-weight: 500;
}
.weather-part .temp .numb {
    font-weight: 600;
}
.weather-part .temp .deg {
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}
.weather-part .weather {
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}
.weather-part .location {
    display: flex;
    align-items: center;
    color: black;
    font-size: 21px;
    margin-bottom: 30px;
}
.location i {
    font-size: 22px;
    margin-right: 5px;
}
.weather-part .bottom-details {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid black;
    justify-content: space-between;
}
.bottom-details .column {
    width: 100%;
    display: flex;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}
.column i {
    color: black;
    font-size: 40px;
    padding-right: 10px;
}
.column.humidity {
    border-left: 1px solid black;
}
.details {
    color: black;
    padding-top: 10px;
}
.details .temp, .humidity span {
    font-size: 18px;
    font-weight: 500;
}
.details .temp .deg {
    margin: 0;
    font-size: 17px;
    padding: 0 2px 0 1px
}
.details p {
    color: black;
    font-size: 14px;
}
